body {
  font-family: "Lato", sans-serif;
}
.nav {
  height: 100%;
  width: 160px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color:black;
  color:white;
  overflow-x: hidden;
  padding-top: 20px;
  margin-bottom: 160px;
}

.nav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
}

.nav a:active {
  color:#8a303;
}

.main {
  margin-left: 160px; /* Same as the width of the sidenav */
  font-size: 28px; /* Increased text to enable scrolling */
  padding: 0px 10px;
}
 
@media screen and (max-height: 450px) {
  .nav {padding-top: 15px;}
  .nav a {font-size: 18px;}
  a{font-size: 100px;}
}
.nav a:hover{
  color:red;
}
body{
  color:red;
  animation-name:horror;
  animation-duration:4s;
}
@keyframes horror{
  from{color:red;}
  to{color:black;}
}
